* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;

  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.navContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 2%;
  margin-right: 30px;
}

.image {
  width: 250px;
}

.button {
  border: 2px solid rgb(4, 61, 53);
  color: #fff;
  border-radius: 7px;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(12, 171, 147);
  flex-shrink: 0;
  height: 3rem;
  padding: 0 1rem 0 1rem;

  font-weight: bold;
}

.link {
  text-decoration: none;
  font-size: 0.9rem;
}
.link:visited {
  color: #fff;
}

.button:hover {
  box-shadow: 0 0 5px rgb(12, 171, 147), 0 0 25px rgb(12, 171, 147),
    0 0 50px rgb(12, 171, 147), 0 0 100px rgb(12, 171, 147);
  cursor: pointer;
}

@media screen and (max-width: 1247px) {
  /* CSS rules for screens smaller than or equal to 1247px */
  /* Place your styles here */
  .navContainer {
    display: none;
  }
}
